{#- Replaced in full by the task that gives an article its terms and its
    neighbours. -#}
{% extends "base.html" %}

{% block main %}
  {%- set_global brand_is_title = false -%}
  {% include "partials/header.html" %}

  {%- set parent = get_section(path=page.ancestors | last) -%}
  {%- set_global crumb_titles = [parent.title] -%}
  {%- set_global crumb_urls = [parent.permalink] -%}
  {%- set_global crumb_current = page.title -%}
  {% include "partials/crumbs.html" %}

  <article class="article">
    <h1>{{ page.title }}</h1>
    <div class="prose">
      {{ page.content | safe }}
    </div>
  </article>
{% endblock main %}
