{% extends "base.html" %}

{% block main %}
  {%- set_global brand_is_title = false -%}
  {% include "partials/header.html" %}

  {%- set parent = get_section(path=page.ancestors | last) -%}
  {%- set_global crumb_parents = [parent] -%}
  {%- set_global crumb_current = page.title -%}
  {% include "partials/crumbs.html" %}

  <article class="product">
    {%- set what = page.extra.what | default(value="") -%}
    {%- if what %}
    <p class="what">{{ what }}</p>
    {%- endif %}
    <h1>{{ page.title }}</h1>

    <div class="prose">
      {{ page.content | safe }}
    </div>

    {{ macros::actions(actions=page.extra.actions | default(value=[])) }}
  </article>
{% endblock main %}
